<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uplus.bugzerobackend.mapper.TodoListMapper">

    <!-- TodoList 삽입 -->


	<insert id="insert" parameterType="com.uplus.bugzerobackend.dto.TodoListDto" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO todo_list (date, content, is_mission, is_checked, link, user_id)
	    VALUES (#{date}, #{content}, #{isMission}, #{isChecked}, #{link}, #{userId}) 
	</insert>


    <!-- TodoList 수정 -->
    <update id="update">
    	UPDATE todo_list
    	SET
        	content = CASE WHEN #{content} IS NOT NULL AND #{content} != '' THEN #{content} ELSE content END,
        	link = CASE WHEN #{link} IS NOT NULL AND #{link} != '' THEN #{link} ELSE link END
    	WHERE id = #{id} AND user_id = #{userId}
	</update>

    
    <select id="searchByUserAndDateAndContent" resultType="com.uplus.bugzerobackend.dto.TodoListDto">
        SELECT * FROM todo_list
        WHERE user_id = #{userId}
        AND date = #{date}
        AND content = #{content}
    </select>

	<!-- User를 userId로 조회하는 쿼리 
    <select id="findUserById" resultType="com.uplus.bugzerobackend.todo.model.dto.User">
        SELECT *
        FROM user
        WHERE id = #{userId}
    </select>
	-->
    <!-- 특정 TodoList 조회(todo id로 검색) -->
    <select id="search" parameterType="int" resultType="com.uplus.bugzerobackend.dto.TodoListDto">
        SELECT id, date, content, is_mission, is_checked, link, user_id AS userId 
        FROM todo_list 
        WHERE id = #{id}
    </select>

    <!-- 특정 유저의 모든 TodoList 조회 -->
	<select id="searchAll" resultType="com.uplus.bugzerobackend.dto.TodoListDto">
	    SELECT 
	        id, 
	        date, 
	        content, 
	        is_mission As isMission, 
	        is_checked AS isChecked, 
	        link, 
	        user_id AS userId 
	    FROM todo_list
	    WHERE user_id = #{userId}
	    AND date = #{date}
	</select>


    <!-- TodoList 삭제 -->
    <delete id="remove" parameterType="int">
        DELETE FROM todo_list WHERE id = #{id}
    </delete>

	<update id="checkTodoList" parameterType="int">
		UPDATE todo_list
		SET is_checked = NOT is_checked
		WHERE id = #{id};
	</update>
    

</mapper>
